<html>
  <head>
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.css' />
  </head>
  <body>
    <div class='container'>
      <h1>Acme Users PG</h1>
      <ul class='nav nav-tabs'>
        <li {% if !selected %}class='active'{% endif %}>
          <a href='/'>Home</a>
        </li>
        
        <li>
            <a href='/users/users'>
              Users ({{totalUsers}})
            </a>
        </li>

         <li>
            <a href='/users/managers'>
              Managers ({{totalManagers}})
            </a>
        </li>
       
      </ul>
    
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>


<!-- <li {% if !selected %}class='active'{% endif %}> -->